{% extends 'base.html.twig' %}
{% block css %}

    #info
    {
        text-align: center;
        position: relative;

    }

{% endblock %}
{% block body %}
<div id="info">Akcja została wykonana</div>
{% endblock %}
