{% extends 'base.html.twig' %}


{% block body %}
<div>
  <form>
   <div class="form-group">
     <label for="uprawnienie">Nazwa:</label>
     <input type="text" class="form-control" id="uprawnienie">
   </div>
   <div class="form-group">
     <label for="minimum">Minimum:</label>
     <input type="number" min="0" class="form-control" id="minimum">
   </div>
  </form>
</div>


{% endblock %}
