{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
      {% if tablicaLat == null %}
      <div id="danger" class="alert alert-danger"  role="alert">W bazie nie ma harmonogramów!</div>
      {% else %}

        <form class="form" action="{{path('wyswietleniePolrocza')}}" method="post" name="form" id="form" role="form">
          <div class="form-group">
              <label for="sel1">Select list (select one):</label>
              <select name="rok" class="form-control" id="sel1">
                {% for rok in tablicaLat %}
                    <option  id="rok" value="{{rok.Rok}}"> {{rok.Rok}} </option>
                {% endfor %}
              </select>
              <div class="radio">
                  <label><input type="radio" name="polowaRoku" id="polowaRoku" value="1" checked>Pierwsza połowa roku</label>
              </div>
              <div class="radio">
                  <label><input type="radio" name="polowaRoku" id="polowaRoku" value="2" >Druga połowa roku</label>
              </div>
          </div>
          <button id="wyswietl" type="submit" class="btn btn-default">Submit</button>
        </form>

      {% endif %}
    </div>
{% endblock %}
