{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    {% javascripts '@AppBundle/Resources/public/js/angular/wyswietlanieApp.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  {% endblock %}

{% block body %}
<div class="container" id="zawartosc"  ng-app="myApp" ng-controller="strazacyCtrl">
<h1 id="rok">{{ rok }}</h1>
  <div ng-repeat="miesiac in miesiace">
      <h2 ng-bind="showMonthName($index)"></h2>
    <table class="table table-striped table-bordered " id="dni">
      <thead>
      <tr>
          <th>Imię i nazwisko</th>
          <th ng-repeat="a in range($index) track by $index" ng-bind="$index+1"></th>
      </tr>
  </thead>
      <tr ng-repeat="strazacy in miesiac">
        <td ng-bind="showName(strazacy.strazak)"></td>
        <td ng-repeat="dzien in strazacy.dni" ng-bind="dzien.Ilosc_godzin"></td>
      <tr>
    </table>
  </div>
 <p ng-bind="heh"></p>
    <p id="polowaRoku">{{ polowaRoku }}</p>

</div>

{% endblock %}
